body {
  background: linear-gradient(
    90deg,
    rgba(247, 236, 9, 1) 0%,
    rgba(161, 73, 250, 1) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #dff6ff;
  padding: 10px 24px;
  border-radius: 20px;
  width: 500px;
}

.heading {
  color: #06283d;
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
  font-size: 40px;
}

.box {
  display: flex;
  justify-content: space-between;
}

.currency {
  width: 95%;
  height: 40px;
  font-size: 1.2em;
  cursor: pointer;
  background: #47b5ff;
  outline: none;
  color: black;
  margin: 0.2em 0;
  padding: 0 1em;
  border-radius: 10px;
  border: none;
}

.input {
  width: 95%;
  height: 40px;
  font-size: 1em;
  margin: 0.2em 0;
  border-radius: 10px;
  border: none;
  background: #1363df;
  outline: none;
  padding: 0 1em;
  color: #06283d;
}

.btn {
  width: 98%;
  height: 40px;
  background: #ffa500;
  color: #06283d;
  border-radius: 10px;
  border: none;
  cursor: none;
  font-size: 1em;
  margin: 0.5em 0;
}
